#burger button {
  border: none;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  padding: 0;
  background: transparent;

  /*
   * FOR PRESENTATION ONLY
   * Centers everything, remove for
   * practical purposes.
  */
}

.nav-toggle [class*='bar-'] {
  background: black;
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .2s ease all;
          transition: .2s ease all;

  /*
   * ENLARGED FOR PRESENTATION
   * Keep these values at the same proportion
   * for it to look correct
  */
  border-radius: 2px;
  height: 2px;
  width: 25px;
  margin-bottom: 4px;

  /*
   * Practical values:
   * border-radius: 2px;
   * height: 2px;
   * width: 25px;
   * margin-bottom: 4px;
  */
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
          transform-origin: 15% 15%;
}
.opened .bar-mid {
  opacity: 0;
}
.opened .bar-bot {
  -webkit-transform: rotate(45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 15% 95%;
          transform-origin: 15% 95%;
}

/* footer */

.footer {
  height: 6.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#textFootleft {
  align-self: center;
  position: absolute;
  left: 0;
  padding-left: 10%;
}

#textFootright {
  align-self: center;
  position: absolute;
  right: 0;
  padding-right: 10%;
}

#socialFoot {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.8rem;
}
#socialFoot img{
  max-width: 2rem;
  padding: 0.8rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  max-height: 2rem;
}
