.content-img {
  max-width: 100%;
}

@media (min-width: 550px) {
  .div-align-left {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }

  .left-overlay {
    position: absolute;
    margin-left: -15%;
  }
}

 @media (min-width: 1000px){

  .left-overlay {
      position: absolute;
      margin-left: -10%;
  }
}
